.header{
    background-color: #4a5568;
    display: flex;
    color: aliceblue;

    &__nav{
        height: 80px;
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items:center;

    }
    &__img{
        max-width: 200px;
        height: auto;
    }
    &__menu{
        width: 700px;
        display: flex;
        justify-content: space-between;
    }
}
